/* BASE */
@import './base/base.css';
@import './base/layout.css';
@import './base/reset.css';
@import './base/variables.css';

/* 3RD-PARTIES */
@import './3rd-party/font-awesome.min.css';
@import './3rd-party/simpletextrotator.css';

/* COMPONENTS */
@import './components/hero.css';

/* CUSTUM STYLES FOR HOMEPAGE */

/* HEADER start */
/* HEADER end */

/* HERO start */
@media (min-width: 1200px) {
    .p-hero {
        font-size: 21px;
    }
    .h1-hero {
        font-size: 65px;
        margin: 20px 0;
    }
    .btn {
        font-size: 16px;
        padding: 10px 30px;
        width: max-content;
        margin-top: 50px;
    }
}
/* HERO end */

/* ABOUT ME start */
/* ABOUT ME end */

/* SERVICES start */
/* SERVICES end */

/* HIRE ME start */
/* HIRE ME end */

/* EDUCATION start */
/* EDUCATION end */

/* WORKING HOURS start */
/* WORKING HOURS end */

/* MY RECENT WORK start */
/* MY RECENT WORK end */

/* OUR CLIENT start */
/* OUR CLIENT end */

/* TRUSTED BY start */
/* TRUSTED end */

/* CONTACT start */
/* CONTACT end */

/* FOOTER start */
/* FOOTER end */